---
import { Image } from 'astro:assets'
import logo from '../images/logo/logo.png'
import { Icon } from 'astro-icon/components'
import { CONST } from '../utils/constants'
---

<header
  class="flex items-center justify-between py-4 md:py-4 px-6 bg-secondary/5 md:px-36 bg-acent shadow-sm shadow-slate-300">
  <div class="flex gap-3 items-center">
    <Image src={logo} alt="Logo" class="w-10" />
    <h1 class="font-main md:font-semibold text-zinc-700 text-3xl">AcadAce</h1>
  </div>
  <nav class="hidden lg:block text-zinc-700 font-medium font-main">
    <ul class="flex sm:gap-10 md:gap-14 pt-2">
      <li class=""><a href="#services">Services</a></li>
      <li class=""><a href="#domains">Domain</a></li>
      <li class=""><a href="#why-us">Why Us</a></li>
    </ul>
  </nav>
  <a
    href=`https://api.whatsapp.com/send/?phone=91${CONST.phone}&text&app_absent=0`
    target="_blank"
    aria-label={`Message us on whatsapp`}
    rel="noreferrer"
    class="transition-all duration-300 ease-in-out hover:scale-105 text-zinc-800 md:border-[1.5px] px-4 py-2 rounded-lg hover:shadow-sm border-primary">
    <span class="flex gap-2 items-end">
      <Icon name="whatsapp" class="text-3xl md:text-2xl" />
      <p class="hidden sm:block text-base font-medium">+91 {CONST.phone}</p>
    </span>
  </a>
</header>
