---
interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <title>{title}</title>

    <meta charset="UTF-8" />
    <meta
      name="keywords"
      content="AcadAce, academic support, college projects, minor projects, major projects, term papers, certification courses, project assistance, research papers, student services, college help"
    />
    <meta
      name="description"
      content="AcadAce offers comprehensive academic support for college students, including minor and major projects, term papers, and certification courses. We deliver high-quality, well-researched work from start to finish, ensuring your academic success. Contact us today to excel in your studies!"
    />

    <meta name="author" content="Acadace" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <meta name="robots" content="index, follow" />

    <!-- Open Graph (OG) Meta Tags -->
    <meta name="og:site_name" content="Acadace" />
    <meta name="og:title" content={title} />
    <meta name="og:type" content="website" />
    <meta name="og:image" content="https://www.acadace.com/assets/image.jpg" />
    <meta name="og:url" content="https://www.acadace.com" />
    <meta name="og:description" content="" />

    <!-- Twitter Card Meta Tag -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@acadaceofficial" />
    <meta name="twitter:creator" content="@acadaceofficial" />

    <!-- Apple Meta Tags -->
    <meta name="apple-mobile-web-app-title" content="Acadace" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <link rel="apple-touch-icon" sizes="180x180" href="touch-icon-iphone.png" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap.xml" />
    <link rel="canonical" href="https://www.acadace.com/" />
  </head>
  <body>
    <slot />
  </body>
</html>
